.shop-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s;
}

.shop-item-image {
    width: 75%;
    height: auto;
    border-radius: 10px;
}

.shop-item-title {
    font-size: clamp(1.5rem, 5vmin, 2rem);
    margin: 15px 0;
}

.shop-item-price {
    font-size: clamp(1rem, 2vmin, 2rem);
    color: #FFDE59;
}

.shop-item-text {
    font-family: "Anton", "Montserrat", sans-serif;
    text-shadow: black 2px 2px 15px;
}