.team-page {
    /*background-color: #5e2c05;*/
    background-image: url("../../assets/images/home-page.webp");
    background-repeat: round;
    background-size: cover;
    padding-bottom: 100px;
}
