.navigation-bar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ddd;
}

.nb-left-left {
    font-family: "Anton", sans-serif;
    text-align: center;
    padding-right: 25px;
    border-right: 3px solid #ddd;
}

.nb-trix-name {
    font-size: clamp(15px, 2.5vw, 5em);
    text-shadow: #962d2f 0 0.2vw;
    padding: 0;
}

.nb-conference-2024 {
    font-size: clamp(10px, 1.2vw, 3em);
}

.nb-left-right {
    padding-left: 25px;
}

.nb-date {
    font-size: clamp(12px, 1.3vw, 3em);
    font-weight: bold;
}

.nb-location {
    font-size: clamp(10px, 1vw, 2.7em);
    font-weight: bolder;
}