.navigation-bar-center {
    margin-right: auto;
    margin-left: 8vw;
}

.navigation-bar-center-extended {
    display: flex;
    flex-direction: row;
}

.navigation-bar-center-extended  > div {
    margin-right: 1.5vw;
    font-size: clamp(15px, 1.35vw, 5em);
    transition: font-weight 0.2s ease;
}

.navigation-bar-center-extended > div > a {
    color: #ddd;
}

.navigation-bar-center-extended > div > a:hover {
    color: white;
}

.navigation-bar-center-extended > div:hover {
    font-weight: bolder;
    text-decoration: underline;
    color: white;
}

.navigation-bar-center-extended .active {
    font-weight: bolder;
    text-decoration: underline;
    color: white;
}

.active > a  {
    color: white!important;
}

.navigation-bar-center-extend-button {
    display: none;
    transition: transform 0.5s;
}

.navigation-bar-center-extend-button:hover {
    cursor: pointer;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    padding: 60px 80px 5px 30px;
    height: 100vh;
    min-width: 200px;
    background-image: linear-gradient(180deg,  #9b3d3f, #000000);
    font-size: clamp(20px, 1.2vw, 3em);
    font-family: Montserrat, sans-serif;
    transform: translateX(100%);
    box-sizing: border-box;
    z-index: 100;
}

.submenu-extended {
    transform: translateX(-200px);
    transition: transform 0.5s ease-in-out;
}

.submenu-closed{
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.submenu > div:first-child {
    padding-top: 2vh;
}

.submenu > div {
    padding-bottom: 10px;
}

.submenu > div > a {
    color: #ddd;
}

.submenu > div > a:hover {
    font-weight: bolder;
    text-decoration: underline;
    color: white;
}

@media screen and (max-width: 1200px) {
    .navigation-bar-center {
        margin-left: 4vw;
    }
}

@media screen and (max-width: 900px) {
    .navigation-bar-center {
        margin-left: 1vw;
    }
}

@media screen and (max-width: 800px){
    .navigation-bar-center {
        margin-left: auto;
        margin-right: 5%;
    }

    .navigation-bar-center-extended {
        display: none;
    }

    .navigation-bar-center-extend-button {
        display: block;
    }
}

